<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="sass/main.css" type="text/css" rel="stylesheet"/>
    <title>#{title}</title>
</head>
<body>
    <div class="loginBody">
        <div class="containerLogin">
            <h1 class="login_heading">
                p Login
            </h1>
            <form class="login_form login_part">
                <div class=" input email_input ">
                    <label for="email" class="login_form--label">Email-id </label>
                    <input type="email" class="login_form--input email" placeholder="Email" id="email" required>
                    <small class="small_email">Error Message</small>
                </div>
                <div class=" input password_input">
                    <label for="password" class="login_form--label">Password</label> 
                    <input type="password" class="login_form--input password" placeholder="Password" id="password" required>
                    <small class="small_password">Error message</small>
                </div>
                <a href="/forgotpassword" class="gotohomePageLink">Forgot password</a>
                <button class="input loginBtn loginbtn">Login</button>


                <a href="/" class="gotohomePageLink">&larr; Go To Home Page</a>

            </form> 
        </div>
    </div>
    <script src="js/bundle.js"></script>
</body>
</html>