<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href="sass/main.css" type="text/css" rel="stylesheet" />
    <title>#{title}</title>
</head>
<body>
    <div class="profile_body">
        <div class="profile_container">
            <h1 class="profile_heading">
                p Profile
            </h1>
            <div class="profile_photo">
                <img src="images/profile.jpg" alt="profile" class="profile_image">
            </div> 
        <div class="profile_details">
                <span class="profile_name">Name: John Doe</span>
                <span class="profile_mail">Email: johndoe@gmail.com</span>
                <span class="testmarks">Marks: 10/10</span>
        </div>
        <p class="question">Haven't taken any quiz yet?</p>
        //- <button class="loginBtn profileTestBtn">Start the Test &rarr;</button>
        <a class="loginBtn profileTestBtn profile_link" href="/qanda">Start the Test &rarr;</a>
        <a href="/" class="gotohomePageLink profile_gotohome">&larr; Go To Home Page</a>
        </div>
    </div>
</body>
</html>