<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <link href="sass/main.css" type="text/css" rel="stylesheet" />

    <title>Quiz Management</title>
    
</head>
<body>
    <div class="body">
        <header class="header">
            <a href="viewProfile.html"class="header_admin">View Profile</a>
            <div class="header_navigation">
                <li class="header_navigation__list"><a href="#" class="header_navigation__link">Home</a></li>
                <li class="header_navigation__list"><a href="login.html" class="header_navigation__link">Login</a></li>
                <li class="header_navigation__list"><a href="signUp.html" class="header_navigation__link">SignUp</a></li>
            </div>
        </header>
        <div class="container"> 
            <!-- here container is the home page container -->
            <h1 class="container__heading">QUIZ MANAGEMENT SYSTEM</h1>
            <button class="container__startTestBtn">Start The Test &rarr;</button>
        </div>
    </div>
    <script src="./public/js/bundle.js"></script>
</body>
</html>