
//COLORS
$color-green-primary:#3B945E;
$color-green-secondary:#57BA98;
$color-green-tertiary:#65CCBB;

$color-grey-primary:#18262B;
$color-grey-secondary:rgba(58, 78 ,85,.8);

$color-white-primary:#F2F2F2;


//SHADOW
$box-shadow: 1px 2px 5px rgba($color-grey-primary,.3);
